@import url("base.css");
header{
	width: 100%;
	height: 0.88rem;
	padding-bottom: 0;
	padding-top: 0;
	padding-right: 0.24rem;
	padding-left: 0.24rem;
	background-color: #f31a68;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
}
.position{
	width: 2.3rem;
	height: 0.35rem;
}
.position i{
	float: left;
	color: #ffffff;
}
.position span{
	float:left;
	display: block;
	font-size:0.3rem;
	color: #ffffff;
	margin-left:8px ;
}
.search{
	width: 3.54rem;
	height: 0.4rem;
	background-color: #FFFFFF;
	border-radius: 0.2rem;
	line-height:0.4rem ;
}
.search a p {
	float: left;
	text-align: center;
	font-size: 0.12rem;
	color: #d8d5d5;
	text-indent: 1em;
}
.search a i {
	float: right;
	text-align: center;
	margin-right: 0.1rem;
	color: #D8D5D5;
}
/*top结束*/
/*banner滚动栏开始*/
.banner{
	width: 100%;
	height: 3.24rem;
	padding: 0 0.24rem;
	margin: 0.24rem 0;
	box-sizing: border-box;
	position:relative;
}
.banner .img , .banner .img li , .banner .img li a , .banner .img li a img {
	width: 100%;
	height:100% ;
}
.banner .img {
	position: relative;
}
.banner .img li {
	position: absolute;
	top: 0;
	left: 0;
}
.banner .img li a , .banner .img li a img {
	display: block;
}
.banner .btn{
	/*display: block;*/
	width: 1.2rem;
	height: 0.2rem;
	position: absolute;
	bottom:0.1rem ;
	left:50%;
	transform: translateX(-50%);
	/*z-index: 999;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner .btn li{
	height: 0.1rem;
	width: 0.3rem;
	border-radius: 0.03rem;
	background-color: #c7c7c7;
}
.banner .btn li.hot{
	background-color: #f9cc0f;
}
/*banner结束*/
/*图标开始*/
.nav{
	height: 3.36rem;
	width: 100%;
	padding: 0 0.24rem;
	margin: 0.24rem 0;
	box-sizing: border-box;
}
/*.nav:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	line-height: 0;
	clear: both;
}*/
.nav ul{
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap:wrap ;
	float: left;
}
.nav ul li{
	display: block;
	height: 1.52rem;
	width: 1.34rem;
	text-align: center;
}
.nav ul li img{
	width: 1.02rem;
	height: 1.02rem ;
	box-sizing: border-box;
	margin: 0 auto;
}
.nav ul li p{
	color:#908989 ;
	font-size: 0.26rem;
	display: block;
	margin-top:0.18rem ;
}
/*图标结束*/
/*商家推荐开始*/
.introduce{
	float: left;
	height: 1.1rem;
	width: 100%;
	padding: 0 0.24rem;
	/*margin: 0.1rem 0;*/
	box-sizing: border-box;
}
.introduce ul li.hot2{
	color: black;
}
.introduce ul:first-of-type{
	height: 0.65rem;
	display: flex;
	/*text-align: center;*/
	justify-content: space-between;
	align-items: center;
	color: #6E6E6E;
	font-size: 0.28rem;
	
}
.introduce ul:nth-of-type(2){
	height: 0.36rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*text-align: center;*/
	font-size:0.16rem;
	color: #6e6e6e;
}
.introduce ul li{
	height: 0.36rem;
	line-height: 1;
}
/*商家推荐结束*/
/*商家食物开始*/
main{
	width: 100%;
	height: 2.6rem;
	padding: 0 0.24rem;
	margin-top:0.24rem;
	float: left;
	box-sizing: border-box;
}
section{
	width: 100%;
	height: auto;
	background-color: #ededed;
	margin: 0 auto;
}
section a{
	display: block;
}
.sjwp{
	display: block;
	width: 100%;
	height: 2.48rem;
/*	border:1px solid #C7C7C7;*/
	box-shadow: 0.1rem 0.1rem 0.05rem #f1eff0;
	background-color: white;
	padding: 0.24rem;
	box-sizing: border-box;
	margin-bottom: 0.1rem;
}
.sjwp img {
	width: 2rem;
	height:2rem;
	float: left;
}
.sjwp-right{
	float: right;
	height: 2rem;
	width: 4.2rem;
}
.sjwp-right h1{
	font-size: 0.2rem;
	color: #060606;
}
.bargin{
	width: 100%;
	height: 1.96rem;
}
.bargin-left{
	width: 1.4rem;
	height: 1.96rem;
	float: left;
}
.bargin-right{
	width: 2.48rem;
	height: 1.96rem;
	float: right;
	color: #7d7278;
	font-size: 0.2rem;
	line-height: 2;
	text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.bargin-left ul li{
	line-height: 1.65;
}
.bargin-left ul li img{
	display: block;
	width:0.6rem;
	height:0.24rem ;
	margin-top: 0.2rem;
	margin-left: 0.15rem;
}
.wxhp li{
	float: left;
	color:yellow;
}
.qs{
	font-size:0.2rem;
	color: #767475;
}
/*底部开始*/
footer{
	height:1.2rem;
	width: 100%;
	padding: 0 0.24rem;
	/*padding-bottom:0.24rem ;*/
	box-sizing: border-box;
	position: fixed;
	bottom:0;
	left: 0;
	background-color: white;
}
footer ul{
	height:1.2rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size:0.18rem;
}
footer ul li , footer ul li a{
	height: 100%;
	width: 0.6rem;
	text-align: center;
	line-height: 1.5;
}
footer ul li a{
	display: block;
	text-decoration: none;
	color: #4c4c4c;
}
footer ul li a i{
	font-size:0.40rem !important;
}
footer ul li a span{
	font-size: 0.26rem;
}
footer ul li .hot6{
	color: #f64d88 ;
}